<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Blogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Love, Relationships & Insecurity</ion-card-subtitle>
      <ion-card-title>Love & Emotions</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item href="https://www.mylifemotions.com/blog/categories/love-relationship-insecurity" class="ion-activated">
      <ion-icon name="heart-half" slot="start"></ion-icon>
      <ion-label>Love, Relationships and Insecurity</ion-label>
      <ion-button fill="outline" href="https://www.mylifemotions.com/blog/categories/love-relationship-insecurity" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
</ion-content>