<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Let's Connect</ion-card-subtitle>
    <ion-card-title>Forum</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Let's connect and share our emotions.
  </ion-card-content>
</ion-card>
</ion-content>
