

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mylifemotions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/mylifemotions.jpg" alt="Mylifemotions">
      <ion-card-subtitle>Let's Share Emotions</ion-card-subtitle>
      <ion-card-title>Mylifemotions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      As a person we all have emotions and these emotions make our life beautiful and provide us reason to live.
      No matter bitter or sweet, we all love to talk about our emotions. So, let's share our emotions and together
      we can share most wonderful story told ever. Hence, use this space to express your emotions because that's
      most beautiful thing you have.
    </ion-card-content> 
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-item href="https://www.mylifemotions.com/blog/categories/being-popular" class="ion-activated"></ion-item>
      <ion-icon name="body-outline" slot="start"></ion-icon>
      <ion-label>Being Popular</ion-label>
      <ion-button fill="outline" href="https://www.mylifemotions.com/blog/categories/being-popular" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Read blogs on Being Popular
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-item href="https://www.mylifemotions.com/blog/categories/love-relationship-insecurity" class="ion-activated"></ion-item>
      <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
      <ion-label>Love, Relationships and Insecurity</ion-label>
      <ion-button fill="outline" href="https://www.mylifemotions.com/blog/categories/love-relationship-insecurity" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Read Blogs about Love, Relationships and Insecurity
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="https://www.mylifemotions.com/forum/" class="ion-activated">
      <ion-icon name="Create-outline" slot="start"></ion-icon>
      <ion-label>Create Post</ion-label>
    </ion-item>
  </ion-card>
</ion-content>


